.button {
    box-shadow: 0 0 30px #9ecaed;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    width: fit-content;
    border: 0.3rem white solid;
    margin-top: 20px;
    margin-left: 50px;
}

.button:hover {
    box-shadow: 5px 5px 15px #33d324, -5px -5px 15px #b60505;
    border-color: #ffffffbd;
}

.webIcon {
    position: absolute;
    transform: translate(-50%, -50%);
}